/* Empty. Add your own CSS if you like */
body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

ion-content{
  overflow-scroll: true;
}

.scroll-content {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;}

.selectable {
  -webkit-user-select: auto;
}
