<ion-view title="Arzt" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="arzt-heading10" style="color:#000000;">Dr. Peter Oetker</h1>
    <div class="list card" id="arzt-card22">
      <div class=" item item-image">
        <img src="img/toQMD2iYSC26WrYj8yog_arzt.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="arzt-list-item-container3">
        <div id="arzt-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Facharzt für Kinderhirurgie</p>
        </div>
      </div>
    </div>
    <h3 id="arzt-heading3" style="color:#000000;">Kontakt</h3>
    <div class="list card" id="arzt-card23">
      <ion-item class="item-icon-left" id="arzt-list-item26" href="tel:00491234567890">
        <i class="icon ion-ios-telephone-outline"></i>+49 1234 567890</ion-item>
      <ion-item class="item-icon-left" id="arzt-list-item25" href="mailto:peter.oetker@uniklinik-hd.de">
        <i class="icon ion-ios-email-outline"></i>peter.oetker@uniklinik-hd.de</ion-item>
    </div>
    <h3 id="arzt-heading2" style="color:#000000;">Videos</h3>
    <div class="list card" id="arzt-card24">
      <ion-item class="item-thumbnail-left" id="arzt-list-item23">
        <img src="img/o7sQWliRkaM6HU4l4XQQ_snap.jpg">
        <h2>OP-Vorbereitung: Oberschenkelbruch</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="arzt-list-item22">
        <img src="img/OWgdzC3YS5iO44qcZf8J_snap.jpg">
        <h2>Oberschenkelbrüche</h2>
      </ion-item>
      <ion-item class="item-icon-right" id="arzt-list-item76" ui-sref="men.videos()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>