<ion-view title="Einstellungen" id="page24">
  <ion-content padding="true" class="has-header">
    <h3 id="einstellungen-heading30" style="color:#000000;">Allgemeine Informationen</h3>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="einstellungen-form10" class="list">
      <label class="item item-input" id="einstellungen-input22">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Mustermann">
      </label>
      <label class="item item-input" id="einstellungen-input24">
        <span class="input-label">Vorname</span>
        <input type="text" placeholder="Max">
      </label>
      <label class="item item-input" id="einstellungen-input25">
        <span class="input-label">E-Mail</span>
        <input type="email" placeholder="max@mustermann.de">
      </label>
      <label class="item item-input" id="einstellungen-input31">
        <span class="input-label">Geburtstag</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="einstellungen-input34">
        <span class="input-label">Fachrichtung</span>
        <input type="text" placeholder="Facharzt für Kinderchirurgie">
      </label>
      <button id="einstellungen-button9" class="button button-positive button-block">Sichern</button>
    </form>
    <form id="einstellungen-form14" class="list">
      <h3 id="einstellungen-heading29" style="color:#000000;">Passwort ändern</h3>
      <label class="item item-input" id="einstellungen-input30">
        <span class="input-label">Neues Passwort</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="einstellungen-input29">
        <span class="input-label">Altes Passwort</span>
        <input type="password" placeholder="">
      </label>
      <button id="einstellungen-button16" class="button button-positive button-block">Sichern</button>
    </form>
  </ion-content>
</ion-view>