<ion-view title="Frage" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="frage-heading15" style="color:#000000;">{{topicTitle}}</h2>
    <ion-list id="frage-list18">
      <ion-item class="item-avatar" id="frage-list-item104" ng-repeat="item in topicEntries">
        <img src="img/js8VEmmjQ5uMDmfgeVW2_arzt.jpg">
        <h2>UserID: {{item.userId}}</h2>
        <p style="white-space:normal;">{{item.message}}</p>
      </ion-item>
    </ion-list>
    <button id="frage-button5" class="button button-stable button-block">Neuer Eintrag</button>
  </ion-content>
</ion-view>
