<ion-view title="Fragen" id="page17">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fragen-card223">
      <ion-item class="item-icon-left" id="fragen-list-item163" ui-sref="men.frage({topicId: {{item.id}}})" ng-repeat="item in entries">
        <i class="icon ion-help"></i>{{item.title}}
        <span class="item-note">#tag1 #tag2</span>
      </ion-item>
    </div>
    <button id="fragen-button14" class="button button-stable button-block" ui-sref="men.frageNeu()">Neue Frage</button>
  </ion-content>
</ion-view>
