<ion-view title="Home" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="home2-heading19" style="color:#000000;">Hallo {{user.firstName}} {{user.lastName}}</h2>
    <h3 id="home2-heading20" style="color:#000000;">Aktuelle Patienten</h3>
    <div class="list card" id="home2-card216">
      <ion-item class="item-avatar" id="home2-list-item133" ui-sref="men.patient({userId: {{patient.userId}}})" ng-repeat="patient in user.users">
        <img src="img/70anb3aSHimEqVCC9ARA_patient.jpg">
        <h2>{{patient.profile.firstName}} {{patient.profile.lastName}}</h2>
        <p>...</p>
      </ion-item>
      <ion-item class="item-icon-right" id="home2-list-item157" ui-sref="men.patienten()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
    <h3 id="home2-heading26" style="color:#000000;">Fragen</h3>
    <div class="list card" id="home2-card221">
      <ion-item class="item-icon-left" id="home2-list-item154" ui-sref="men.frage({topicId: {{item.id}}})" ng-repeat="item in entries|limitTo:2">
        <i class="icon ion-help"></i>{{item.title}}}
        <span class="item-note">#OP #Oberschenkel #Bruch</span>
      </ion-item>
      <ion-item class="item-icon-right" id="home2-list-item166" ui-sref="men.fragen()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
    <h3 id="home2-heading28" style="color:#000000;">Videos</h3>
    <button id="home2-button13" class="button button-stable button-block" ng-click="upload()">Hochladen</button>
    <div class="list card" id="home2-card220">
      <ion-item class="item-thumbnail-left" id="home2-list-item151" ui-sref="men.video()">
        <img src="img/JG0W1siQEq7kxb7sKYoQ_oberschenkelbruch.jpg">
        <h2>OP-Vorbereitung: Oberschenkelbrüche</h2>
        <p>#Oberschenkel #Bruch #OP #kinder</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="home2-list-item152" ui-sref="men.video()">
        <img src="img/KsK7D71R0WOwAXCo5Xiq_Schienbeinbruch.jpg">
        <h2>OP-Vorbereitung: Schienbeinbruch</h2>
        <p>#Schienbein #Bruch #OP #Kinder</p>
      </ion-item>
      <ion-item class="item-icon-right" id="home2-list-item153" ui-sref="men.videos()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
