<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h2 id="home-heading5" style="color:#000000;">Hallo {{user.firstName}} {{user.lastName}}</h2>
    <h3 id="home-heading11" style="color:#000000;">Persönliche Daten</h3>
    <ion-list id="home-list14">
      <ion-item id="home-list-item61">Name
        <span class="item-note">{{user.firstName}} {{user.lastName}}</span>
      </ion-item>
      <ion-item id="home-list-item62">Geburtsdatum
        <span class="item-note">{{datefor}}</span>
      </ion-item>
      <ion-item id="home-list-item63">Geschlecht
        <span class="item-note">{{user.gender}}</span>
      </ion-item>
      <ion-item id="home-list-item64">Befund
          <span class="item-note">{{illnesses}}</span>
      </ion-item>
    </ion-list>
    <h3 id="home-heading9" style="color:#000000;">Tagebuch</h3>
    <div class="list card" id="home-card28">
      <ion-item class="item-avatar" id="home-list-item73" ng-repeat="item in diaryEntries | limitTo:2">
        <item-avatar item-start ng-switch on={{item.status}}>
          <div ng-switch-when="good">
            <i class="icon ion-happy-outline"></i>
          </div>
          <div ng-switch-when="bad">
            <i class="icon ion-sad-outline"></i>
          </div>
          <div ng-switch-default>
            <i class="icon ion-sad-outline"></i>
          </div>
     </item-avatar item-end>
        <h2>{{item.title}}</h2>
        <p>{{item.message}}</p>
        <span class="item-note">{{item.date | date:'dd-MM-yyyy HH:mm'}}</span>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item70" ui-sref="men.tagebuch()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
    <h3 id="home-heading8" style="color:#000000;">Meine Fragen</h3>
    <div class="list card" id="home-card26">
      <ion-item class="item-icon-left" id="home-list-item49" ui-sref="men.frage()" ng-repeat="item in entries">
        <i class="icon ion-checkmark-round"></i>{{item.title}}
        <span class="item-note">#tag1 #tag2</span>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item74" ui-sref="men.fragen()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
    <h3 id="home-heading7" style="color:#000000;">Gemerkte Videos</h3>
    <div class="list card" id="home-card27">
      <ion-item class="item-thumbnail-left" id="home-list-item56" ui-sref="men.video()">
        <img src="img/JG0W1siQEq7kxb7sKYoQ_oberschenkelbruch.jpg">
        <h2>OP-Vorbereitung: Oberschenkelbrüche</h2>
        <p>#Oberschenkel #Bruch #OP #kinder</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="home-list-item57" ui-sref="men.video()">
        <img src="img/zbKHTuNTBqlhAtpidbLK_elle_gebrochen.jpg">
        <h2>OP-Vorbereitung: gebrochene Elle</h2>
        <p>#Elle #Bruch #OP #Kinder</p>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item75" ui-sref="men.videos()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
