<ion-view title="Neue Frage" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="neueFrage-form11" class="list">
      <label class="item item-input" id="neueFrage-input19" name="QuestionTitle">
        <input type="text" placeholder="kurzer, sprechender Titel">
      </label>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <label class="item item-input" id="neueFrage-input23">
        <input type="text" placeholder="ausführliche Beschreibung ">
      </label>
    </form>
    <div id="neueFrage-button-bar2" class="button-bar">
      <a ui-sref="men.fragen()" id="neueFrage-button18" class="button button-stable button-block">verwerfen</a>
      <a ui-sref="men.frage()" id="neueFrage-button20" class="button button-stable button-block">Abschicken</a>
    </div>
  </ion-content>
</ion-view>