<ion-view title="Patient" id="page18">
  <ion-content padding="true" class="has-header">
    <h3 id="patient-heading22" style="color:#000000;">Persönliche Daten</h3>
    <ion-list id="patient-list11">
      <ion-item id="patient-list-item137">Name
        <span class="item-note">Max Mustermann</span>
      </ion-item>
      <ion-item id="patient-list-item138">Alter
        <span class="item-note">23</span>
      </ion-item>
      <ion-item id="patient-list-item139">Geschlecht
        <span class="item-note">männlich</span>
      </ion-item>
      <ion-item id="patient-list-item140">Befund
        <span class="item-note">Doppelter Oberschnekelbruch</span>
      </ion-item>
      <ion-item id="patient-list-item150">Behandlung
        <span class="item-note">Operation</span>
      </ion-item>
    </ion-list>
    <h3 id="patient-heading23" style="color:#000000;">Tagebuch</h3>
    <div class="list card" id="patient-card217">
      <ion-item class="item-icon-left" id="patient-list-item141">
        <i class="icon ion-happy-outline"></i>Keine Bauchschmerzen
        <span class="item-note">29.02.2018 - 9:00 Uhr</span>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="patient-list-item142">
        <i class="icon ion-sad-outline"></i>Explosiver Durchfall
        <span class="item-note">13.02.2018 - 13:00 Uhr</span>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="patient-list-item143" ui-sref="men.tagebuch()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
    <h3 id="patient-heading24" style="color:#000000;">Fragen</h3>
    <div class="list card" id="patient-card218">
      <ion-item class="item-icon-left" id="patient-list-item144" ui-sref="men.frage()">
        <i class="icon ion-checkmark-round"></i>Warum ist die Banane krumm?
        <span class="item-note">#bananen #krumm #OP</span>
      </ion-item>
      <ion-item class="item-icon-left" id="patient-list-item145" ui-sref="men.frage()">
        <i class="icon ion-help"></i>Welche Komplikationen können bei OP xy auftreten?
        <span class="item-note">#OP #Bruch #Oberschenkel</span>
      </ion-item>
      <ion-item class="item-icon-right" id="patient-list-item146" ui-sref="men.fragen()">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>