<ion-view title="Patient" id="page18">
  <ion-content padding="true" class="has-header">
    <h3 id="patient-heading22" style="color:#000000;">Persönliche Daten</h3>
    <ion-list id="patient-list11">
      <ion-item id="patient-list-item137">Name
        <p style="color:black;font-size:130%;text-align:right;">{{user.firstName}} {{user.lastName}}</p>
      </ion-item>
      <ion-item id="patient-list-item138">Geburtstag
        <p style="color:black;font-size:130%;text-align:right;">{{datefor}}</p>
      </ion-item>
      <ion-item id="patient-list-item139">Geschlecht
        <p style="color:black;font-size:130%;text-align:right;">{{user.gender}}</p>
      </ion-item>
      <ion-item id="patient-list-item140">Befund
        <p style="color:black;font-size:130%;text-align:right;">{{illnesses}}</p>
      </ion-item>
      <ion-item id="patient-list-item150" ng-hide="1">Behandlung
        <span class="item-note">Operation</span>
      </ion-item>
    </ion-list>
    <h3 id="patient-heading23" style="color:#000000;">Tagebuch</h3>
    <div class="list card" id="patient-card217">
      <ion-item class="item-avatar" id="patient-list-item141" ng-repeat="entry in diaryEntries | limitTo:2">
        <img src="img/sad.png" ng-if="entry.status == 'bad'">
        <img src="img/happy.png" ng-if="entry.status == 'good'" >
        <h2>{{entry.title}}</h2>
        <p>{{entry.message}}</p>
      </ion-item>
      <ion-item class="item-icon-right" id="patient-list-item143" ui-sref="men.tagebuch({userId: {{userId}}})">mehr
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </div>
    <h3 id="patient-heading24" style="color:#000000;">Fragen</h3>
    <div class="list card" id="patient-card218">
      <ion-item class="item-icon-left" id="patient-list-item144" ui-sref="men.frage({topicId: {{item.id}}})" ng-repeat="item in topics">
        <i class="icon ion-help"></i>{{item.title}}}
      </ion-item>
    </div>
  </ion-content>
</ion-view>
