<ion-view title="Patienten" id="page19">
  <ion-content padding="true" class="has-header">
    <a ui-sref="men.neuenPatientenZuweisen()" id="patienten-button15" class="button button-stable button-block">neu zuweisen</a>
    <div class="list card" id="patienten-card224">
      <ion-item class="item-avatar" id="patienten-list-item167" ui-sref="men.patient()">
        <img src="img/70anb3aSHimEqVCC9ARA_patient.jpg">
        <h2>Max Mustermann</h2>
        <p>Oberschenkelbruch</p>
      </ion-item>
      <ion-item class="item-avatar" id="patienten-list-item168" ui-sref="men.patient()">
        <img src="img/fcLq5eR4Sn6nSsLx2Qo0_patientin.jpg">
        <h2>Marietta Musterfrau</h2>
        <p>akute Mandelentzündung</p>
      </ion-item>
      <ion-item class="item-avatar" id="patienten-list-item172" ui-sref="men.patient()">
        <img src="img/70anb3aSHimEqVCC9ARA_patient.jpg">
        <h2>Peter Pan</h2>
        <p>Oberschenkelbruch</p>
      </ion-item>
      <ion-item class="item-avatar" id="patienten-list-item169" ui-sref="men.patient()">
        <img src="img/G8aKNN1jTg6cDbtYj2ex_Groot.jpg">
        <h2>Groot</h2>
        <p>i am groot</p>
      </ion-item>
      <ion-item class="item-avatar" id="patienten-list-item171" ui-sref="men.patient()">
        <img src="img/fcLq5eR4Sn6nSsLx2Qo0_patientin.jpg">
        <h2>Melania Trump</h2>
        <p>akute Mandelentzündung</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>