<ion-view title="Registrieren - Patient" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="registrierenPatient-form4" class="list">
      <ion-list id="registrierenPatient-list4">
          <label class = "item item-input item-select">
              <div class = "input-label">
                 Geschlecht wählen...
              </div>

              <select ng-model="user.gender">
                 <option selected>Männlich</option>
                 <option>Weiblich</option>
              </select>
           </label>
        <label class="item item-input" id="registrierenPatient-input9">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="user.lastName">
        </label>
        <label class="item item-input" id="registrierenPatient-input12">
          <span class="input-label">Vorname</span>
          <input type="text" placeholder="" ng-model="user.firstName">
        </label>
        <label class="item item-input" id="registrierenPatient-input10">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="user.email">
        </label>
        <label class="item item-input" id="registrierenPatient-input13">
          <span class="input-label">Geburtsdatum</span>
          <input type="date" placeholder="" ng-model="user.dateOfBirth">
        </label>
        <label class="item item-input" id="registrierenPatient-input11">
          <span class="input-label">Passwort</span>
          <input type="password" placeholder="" ng-model="user.password">
        </label>
      </ion-list>
      <a ui-sref="men.home()" id="registrierenPatient-button10" class="button button-stable button-block">Registrieren</a>
    </form>
  </ion-content>
</ion-view>