<ion-view title="Registrieren" id="page15">
  <ion-content padding="true" class="has-header">
    <a ui-sref="registrierenPatient()" id="registrieren-button6" class="button button-positive button-block">Als Patient registrieren</a>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="registrieren-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">oder</p>
    </div>
    <form id="registrieren-form7" class="list">
      <label class="item item-input" id="registrieren-input20" name="doctorcode">
        <input type="text" placeholder="Registrierungscode">
      </label>
    </form>
    <a ui-sref="registrierenArzt()" id="registrieren-button7" class="button button-positive button-block">Als Arzt registrieren</a>
  </ion-content>
</ion-view>