<ion-view title="Suchergebnis" id="page16">
  <ion-content padding="true" class="has-header">
    <h3 id="suchergebnis-heading17" style="color:#000000;">Fragen</h3>
    <div class="list card" id="suchergebnis-card25">
      <ion-item class="item-icon-left" id="suchergebnis-list-item98" ui-sref="men.frage()">
        <i class="icon ion-help"></i>Welche Komplikationen können auftreten?
      </ion-item>
    </div>
    <h3 id="suchergebnis-heading18" style="color:#000000;">Videos</h3>
    <div class="list card" id="suchergebnis-card215">
      <ion-item class="item-thumbnail-left" id="suchergebnis-list-item123" ui-sref="men.video()">
        <img src="img/JG0W1siQEq7kxb7sKYoQ_oberschenkelbruch.jpg">
        <h2>OP-Vorbereitung: Oberschenkelbrüche</h2>
        <p>#Oberschenkel #Bruch #OP #kinder</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>