<ion-view title="Suche" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="suche-form6" class="list">
      <label class="item item-input" id="suche-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Suche nach Fragen oder Videos" ng-model="search.text">
      </label>
      <a id="suche-button8" class="button button-stable button-block" ng-click="search()">Suchen</a>
    </form>
    <h3 id="suche-heading16" style="color:#000000;">Suchergebnisse</h3>
    <div class="list card" id="suche-card21">
        <ion-item class="item-icon-left" id="fragen-list-item163" ui-sref="men.frage({topicId: {{item.id}}})" ng-repeat="item in topics">
          <i class="icon ion-help"></i>{{item.title}}
        </ion-item>
    </div>
    <div class="list card" id="suche-card212">
      <ion-item class="item-thumbnail-left" id="video-list-item151" ui-sref="men.video({video: {{video}}})" ng-repeat="video in videos">
        <img src="img/video.png">
        <h2>{{video.title}}</h2>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
