<ion-view title="Suche" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="suche-form6" class="list">
      <label class="item item-input" id="suche-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Suche nach Fragen oder Videos">
      </label>
      <a ui-sref="men.fragen()" id="suche-button8" class="button button-stable button-block">Suchen</a>
    </form>
    <h3 id="suche-heading16" style="color:#000000;">Letzte Suchen</h3>
    <div class="list card" id="suche-card21">
      <ion-item class="item-thumbnail-left" id="suche-list-item100" ui-sref="men.video()">
        <img src="img/KkkDJpr5QQKS4WMqmlDJ_Mandelentzndung.jpg">
        <h2>OP-Vorbereitung: Mandelentfernung</h2>
        <p>#Mandeln #OP #kinder</p>
      </ion-item>
    </div>
    <div class="list card" id="suche-card212">
      <ion-item class="item-icon-left" id="suche-list-item119" ui-sref="men.frage()">
        <i class="icon ion-help"></i>Wird es sehr weh tun?
        <span class="item-note">#oberschenkel #bruch # OP</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>