<ion-view title="Tagebuch" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="tagebuch-button12" style="text-align:right;" ui-sref="men.neuTagebuch()" class="button button-light button-icon icon ion-ios-plus-outline"></button>
    <ion-list id="tagebuch-list9">
        <ion-item class="item-avatar" id="tagebuch-list-item15" ng-repeat="item in diaryEntries">
          <img src="img/sad.png" ng-if="item.status == 'bad'">
          <img src="img/happy.png" ng-if="item.status == 'good'" >
          <h2>{{item.title}}</h2>
          <p>{{item.message}}</p>
          <span class="item-note">{{item.date | date:'dd-MM-yyyy HH:mm'}}</span>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
