<ion-view title="Tagebuch" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="tagebuch-button12" style="text-align:right;" class="button button-light button-icon icon ion-ios-plus-outline"></button>
    <ion-list id="tagebuch-list9">
      <ion-item class="item-icon-left" id="tagebuch-list-item15">
        <i class="icon ion-happy-outline"></i>Keine Bauchschmerzen
        <span class="item-note">29.02.2018 - 9:00 Uhr</span>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="tagebuch-list-item18">
        <i class="icon ion-sad-outline"></i>Explosiver Durchfall
        <span class="item-note">13.02.2018 - 13:00 Uhr</span>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="tagebuch-list-item19">
        <i class="icon ion-sad-outline"></i>Fußpliz juckt
        <span class="item-note">12.02.2018 - 12:00 Uhr</span>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="tagebuch-list-item20">
        <i class="icon ion-happy-outline"></i>Essen ohne Komplikationen
        <span class="item-note">11.02.2018 - 18:00 Uhr</span>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>