<ion-view title="Videos" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="videos-heading12" style="color:#000000;">Videos von Dr. Peter Oetker</h3>
    <div class="list card" id="videos-card211">
      <ion-item class="item-thumbnail-left" id="videos-list-item87" ui-sref="men.video()">
        <img src="img/JG0W1siQEq7kxb7sKYoQ_oberschenkelbruch.jpg">
        <h2>OP-Vorbereitung: Oberschenkelbrüche</h2>
        <p>#Oberschenkel #Bruch #OP #kinder</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="videos-list-item91" ui-sref="men.video()">
        <img src="img/KkkDJpr5QQKS4WMqmlDJ_Mandelentzndung.jpg">
        <h2>OP-Vorbereitung: Mandelentfernung</h2>
        <p>#Mandeln #OP #kinder</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="videos-list-item88" ui-sref="men.video()">
        <img src="img/zbKHTuNTBqlhAtpidbLK_elle_gebrochen.jpg">
        <h2>OP-Vorbereitung: gebrochene Elle</h2>
        <p>#Elle #Bruch #OP #Kinder</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="videos-list-item90" ui-sref="men.video()">
        <img src="img/KsK7D71R0WOwAXCo5Xiq_Schienbeinbruch.jpg">
        <h2>OP-Vorbereitung: Schienbeinbruch</h2>
        <p>#Schienbein #Bruch #OP #Kinder</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>