<ion-view title="Video" id="page11">
  <ion-content padding="true" class="has-header">
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="video-video1">
      <video webkit-playsinline playsinline controls style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <source ng-src="{{getIframeSrc(video.title)}}" frameborder="0" allowfullscreen="" width="560" height="315" type='video/mp4'>
      </video>
    </div>
    <h3 id="video-heading13" style="color:#000000;">{{video.title}}</h3>
    <ion-list id="video-list17">
      <ion-item class="item-avatar" id="video-list-item92">
        <img src="img/arzt.png">
        <h2>Dr. Peter Oetker</h2>
        <p>Facharzt für Kinderchirurgie</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
