<ion-view title="Video" id="page11">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="video-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="video-heading13" style="color:#000000;">OP-Vorbereitung: Oberschenkelbrüche</h3>
    <ion-list id="video-list17">
      <ion-item class="item-avatar" id="video-list-item92" ui-sref="menPatient.arzt()">
        <img src="img/YmpbRBuZQ7WyEbrOIBRx_arzt.jpg">
        <h2>Dr. Peter Oetker</h2>
        <p>Facharzt für Kinderchirurgie</p>
      </ion-item>
    </ion-list>
    <h3 id="video-heading14" style="color:#000000;">Fragen</h3>
    <div class="list card" id="video-card213">
      <ion-item class="item-icon-left" id="video-list-item101" ui-sref="menPatient.frage()">
        <i class="icon ion-checkmark-round"></i>Wird es sehr weh tun?</ion-item>
      <ion-item class="item-icon-left" id="video-list-item102" ui-sref="menPatient.frage()">
        <i class="icon ion-android-time"></i>Kann ich auf die verwendeten Geräte oder Mittel allergisch reagieren?</ion-item>
      <ion-item class="item-icon-left" id="video-list-item103" ui-sref="menPatient.frage()">
        <i class="icon ion-checkmark-round"></i>Welche Risiken bestehen bei der OP?</ion-item>
    </div>
  </ion-content>
</ion-view>