<ion-view title="Neue Antwort" id="page25">
  <ion-content padding="true" class="has-header">
    <form id="neueFragenEintrag-form11" class="list">
      <p style="color:black;font-size:100%;text-align:left;">Hier können Sie eine Antwort eingeben.</p>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <label class="item item-input" id="neueFragenEintrag-input23">
        <textarea style='min-height: 3em' rows='1' placeholder="ausführliche Beschreibung" ng-model="entry.message" msd-elastic></textarea>
      </label>
    </form>
    <div id="neueFragenEintrag-button-bar2" class="button-bar">
      <a id="neueFragenEintrag-button20" class="button button-stable button-block" ng-click="addTopicEntry()">Abschicken</a>
    </div>
  </ion-content>
</ion-view>
