<ion-view title="Tagebucheintrag" id="page22">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="tagebucheintrag-card29">
      <ion-item class="item-icon-right" id="tagebucheintrag-list-item112">Titel
        <i class="icon ion-happy-outline"></i>
      </ion-item>
      <div class="item item-body" id="tagebucheintrag-list-item-container6">
        <div id="tagebucheintrag-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hallo i bims 1 message vong patient her LOL</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>